@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Are you doubting?</h1>
    <img alt="Qries" src="https://strongsocials.com/wp-content/uploads/2019/08/press-x-to-doubt-la-noir-original-meme-template.jpg"
         width="200" height="120">
    <h1 class="display-4">seeing this should be good news</h1>
</div>
